@charset "utf-8";


.header {
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1000;
}

.skip-link {
    position: absolute;
    top: -100px;
    font-size: 10px;
    width: 10em;
}

.skip-link:focus {
    top: 0px;
}

.footer {
    padding-top: 40px;
    margin-top: 40px;
    background-color: #EEE;

    h3 {
        margin: 0;
        font-size: var(--fs-20);
        text-align: center;
    }
}

.footer-container {
    width: var(--container);
    max-width: 100%;
    margin: auto;
}

/* ハンバーガーボタン */
.hamburger {
    width: var(--burg-btn-size);
    height: var(--burg-btn-size);
    position: absolute;
    right: 10px;
    top: 1px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.burg-line-tc {
    display: block;
}

.burg-line-tc::before {
    content: "";
    display: block;
    background-color: #000;
    width: var(--burg-size);
    height: var(--burg-line-thick);
    border-radius: var(--burg-border-radius);
    position: absolute;
    top: 5px;
    left: 1px;
}

.burg-line-tc::after {
    content: "";
    display: block;
    background-color: #000;
    width: var(--burg-size);
    height: var(--burg-line-thick);
    border-radius: var(--burg-border-radius);
    position: absolute;
    top: 15px;
    left: 1px;
}

.burg-line-b {
    display: block;
    background-color: #000;
    width: var(--burg-size);
    height: var(--burg-line-thick);
    border-radius: var(--burg-border-radius);
    position: absolute;
    top: 25px;
    left: 1px;
}

.burg-text {
    display: block;
}

.burg-text::before {
    content: "menu";
    position: absolute;
    top: 27px;
    left: 4px;
    font-size: 12px;
}

/* ハンバーガーボタン クリック後 */
.js-open .burg-line-tc::before {
    transform: rotate(45deg);
    transform-origin: 50%;
    width: 32px;
    top: 15px;
}

.js-open .burg-line-tc::after {
    transform: rotate(-45deg);
    transform-origin: 50%;
    width: 32px;
    top: 15px;
}

.js-open .burg-line-b {
    width: 0px;
}

.js-open .burg-text::before {
    content: "close";
}

/* グローバルナビゲーション */

.header-container {
    position: relative;
    z-index: 100;
    height: var(--burg-btn-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: visible;
}

.toggle-menu {
    position: relative;
    top: auto;
    right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: visible;
}

.toggle-menu a {
    display: block;
    padding: 5px;
    color: var(--color-text);
}

.toggle-menu a:hover {
    background-color: var(--color-lightgray);
}

.hamburger {
    display: none;
}

.header-logo {
    /* position: static;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0); */
}

.toggle-menu {
    display: flex;
    position: relative;

    .sub-menu {
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #FFF;
    }

    :where(.menu-item:hover)>.sub-menu {
        height: auto;
    }
}


.page_item {
    display: inline-block;
}

.page_item a {
    display: block;
    width: 100%;
    padding: 0.5em;
    color: var(--color-text);
}

.page_item_has_children {}

.gnav {}

// breadcrumb パンくずリスト
.breadcrumb {
    padding: 10px 0;
    width: 100%;
    max-width: var(--container);
    margin: auto;
}

:where(.breadcrumb) {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 1em;
    }

    li:not(:last-child)::after {
        content: ">";
        margin-left: 0.5em;
    }

    a:link,
    a:visited {
        color: var(--color-text);
    }

    a:hover,
    a:active {
        color: var(--color-link-text);
    }
}

/* ボタン */
.button {}

.button-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    color: var(--color-text);
}

.button-link-accent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-accent);
    color: var(--color-text-reverse);
}

/* ページ送り　pagenation ページネーション */

.pagenation {
    width: 100%;
    text-align: center;
}

.page-numbers {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    min-height: 40px;
    min-width: 40px;
    line-height: 1;
    border-radius: 2em;
    background: linear-gradient(-45deg, #EEE 0%, #F5F5F5 100%);
    box-shadow: 2px 2px 10px #CCC;
    margin: 0 4px;
    border-top: #FFF 1px solid;
    border-left: #FFF 1px solid;
}

.page-numbers:hover {
    border-bottom: none;
}

.current {
    background-color: #EEE;
    box-shadow: none;
}

/* カードレイアウト */
.card {
    position: relative;
    padding: 0 0 60px 0;
    box-shadow: var(--box-shadow);
}

.card-post-title {
    font-size: 1rem;
    margin: 10px;
}

.card-post-excerpt {
    font-size: var(--fs-14);
    margin: 10px;
}

.no-img {
    display: flex;
    width: 100%;
    aspect-ratio: 4 / 3;
    justify-content: center;
    align-items: center;
    background-color: #DDD;
}

.small-img {
    display: flex;
    width: 100%;
    aspect-ratio: 4 / 3;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.small-img img {
    width: 100%;
    height: auto;
}

.card-more {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.card-more-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    padding: 0.5em 0.75em;
    min-width: 8em;
    border-radius: 2px;
    background-color: var(--color-theme);
    color: var(--color-theme-text);
    box-shadow: var(--box-shadow);

}

/* セクションレイアウト */
article {
    margin: 0 auto 40px;
}

/* --2カラム構成の設定 ここまで-- */

/* トップページ */
.top-kv {
    width: 100%;
}

.top-kv img {
    width: 100%;
}

/* お知らせ　コーナー */
.post-list {}

.post-list-item {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    align-items: flex-start;
}

.post-list-img {
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.post-list-info {}

.post-list-title {}

.post-list-heading {
    font-size: var(--fs-16);
    margin: 0;
}

.post-date {
    font-weight: normal;
}

.post-list-excerpt {
    padding-left: 1em;
}

/* サイドバーメニュー */
.side-nav ul {
    padding-left: 0.5em;
}

/* 固定ページ */
.page-kv {
    width: 100%;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

/* archiveページ */

/* 投稿ページ */
.post-nav {
    width: 100%;
    max-width: var(--container);
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-bg-gray);

    a {
        padding: 10px 0;
        display: inline-block;
    }
}

/* パララックス設定 */
.imgcontainer {
    min-height: 100vh;
}

.paracontent {
    min-height: 100vh;
}