@charset "utf-8";

@media screen and (max-width: 960px) {

    /* tabサイズで画像の回り込みを解消するクラス　br-tab */
    .alignleft.br-tab,
    .alignright.br-tab {
        float: none;
        display: block;
        max-width: 100%;
        margin: 0;
    }

    .alignleft.br-tab::after,
    .alignright.br-tab::after {
        content: "\A";
        white-space: pre;
    }

    /* tabサイズで中央配置にする　tab-center */
    .tab-center,
    img.alignleft.tab-center,
    img.alignright.tab-center {
        float: none;
        display: block;
        margin: 0 auto;
    }

    /* コンテナ */
    .container,
    .container-wide,
    .container-nallow {
        padding: 0 10px;
    }

    /* グリッド */
    .sp-1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sp-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pc-6,
    .pc-5,
    .pc-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sp-2,
    .tab-2,
    .pc-3,
    .pc-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tab-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tab-1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .col-11, .col-10, .col-9 {
        width: 75%;
    }
    .col-8, .col-7 {
        width: 66.6666%;
    }
    .col-6 {
        width: 50%;
    }
    .col-5, .col-4 {
        width: 33.3333%;
    }
    .col-3, .col-2, .col-1 {
        width: 25%;
    }

    .col-6-7, .col-5-7 {
        width: 75%;
    }
    .col-4-7, .col-3-7 {
        width: 50%;
    }
    .col-2-7, .col-1-7 {
        width: 25%;
    }

    .col-4-5 {
        width: 80%;
    }
    .col-3-5 {
        width: 60%;
    }
    .col-2-5 {
        width: 40%;
    }
    .col-1-5 {
        width: 20%;
    }

    .col-tab-12 {
        width: 100%;
    }
    .col-tab-11 {
        width: 91.6666%;
    }
    .col-tab-10 {
        width: 83.3333%;
    }
    .col-tab-9 {
        width: 75%;
    }
    .col-tab-8 {
        width: 66.6666%;
    }
    .col-tab-7 {
        width: 58.3333%;
    }
    .col-tab-6 {
        width: 50%;
    }
    .col-tab-5 {
        width: 41.6666%;
    }
    .col-tab-4 {
        width: 33.3333%;
    }
    .col-tab-3 {
        width: 25%;
    }
    .col-tab-2 {
        width: 16.6666%;
    }
    .col-tab-1 {
        width: 8.3333%;
    }
    .col-tab-6-7 {
        width: 85.7142%;
    }
    .col-tab-5-7 {
        width: 71.4285%;
    }
    .col-tab-4-7 {
        width: 57.1428%;
    }
    .col-tab-3-7 {
        width: 42.8571%;
    }
    .col-tab-2-7 {
        width: 28.5714%;
    }
    .col-tab-1-7 {
        width: 14.2857%;
    }
    .col-tab-4-5 {
        width: 80%;
    }
    .col-tab-3-5 {
        width: 60%;
    }
    .col-tab-2-5 {
        width: 40%;
    }
    .col-tab-1-5 {
        width: 20%;
    }

    /* utility */
    
    .pd-tab-0 {
        padding: 0px;
    }
    .pd-tab-5 {
        padding: 5px;
    }
    .pd-tab-10 {
        padding: 10px;
    }
    .pd-tab-15 {
        padding: 15px;
    }
    .pd-tab-20 {
        padding: 20px;
    }
    .pi-tab-0 {
        padding-inline: 0px;
    }
    .pi-tab-5 {
        padding-inline: 5px;
    }
    .pi-tab-10 {
        padding-inline: 10px;
    }
    .pi-tab-15 {
        padding-inline: 15px;
    }
    .pi-tab-20 {
        padding-inline: 20px;
    }
    
    .gap-0 {
        gap: 0px;
    }

    .gap-pc-0 {
        gap: 0px;
    }

    .gap-10 {
        gap: 5px;
    }

    .gap-pc-10 {
        gap: 5px;
    }

    .gap-20 {
        gap: 10px;
    }

    .gap-pc-20 {
        gap: 10px;
    }

    .gap-30 {
        gap: 15px;
    }

    .gap-pc-30 {
        gap: 15px;
    }

    .gap-40 {
        gap: 20px;
    }

    .gap-pc-40 {
        gap: 20px;
    }

    .gap-50 {
        gap: 25px;
    }

    .gap-pc-50 {
        gap: 25px;
    }

    .gap-60 {
        gap: 30px;
    }

    .gap-pc-60 {
        gap: 30px;
    }

    .gap-tab-0 {
        gap: 0px;
    }

    .gap-tab-10 {
        gap: 10px;
    }

    .gap-tab-20 {
        gap: 20px;
    }

    .gap-tab-30 {
        gap: 30px;
    }

    /* ヘッダー     */

    .header-container {
        position: relative;
        z-index: 100;
        display: block;
    }

    .toggle-menu {
        position: absolute;
        right: 0;
        background-color: #FFF;
        max-height: calc(100vh - var(--burg-btn-size));
        overflow-y: scroll;
        overflow-x: hidden;
        width: 0px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .toggle-menu .sub-menu {
        height: auto;
        overflow: hidden;
        position: static;
        width: 100%;
    }

    :where(nav) li {
        width: 100%;
    }

    .toggle-menu a {
        display: block;
        padding: 1em 10px;
        width: 100%;
    }

    .hamburger {
        display: block;
        width: var(--burg-btn-size);
        height: var(--burg-btn-size);
    }

    .js-open .toggle-menu {
        width: auto;
    }

    .header-logo {
        /*
        position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
        */
        display: inline-block;
        height: 44px;
    }

    /* セクションレイアウト */

    .sidebar {
        width: 100%;
        padding: 0;
    }

    .main,
    .top-main {
        width: 100%;
    }

    /* ユーティリティクラス */
    .pc,
    .pc-inline,
    .sp,
    .sp-inline {
        display: none;
    }

    .tab {
        display: block;
    }

    .tab-inline {
        display: inline;
    }

}