@charset "utf-8";
$container: 960px;
$sp: 640px;
$tab: 960px;

/* style base */
section {
	clear: both;
}

main::after {
	@include clearfix;
}

code {
	overflow-x: scroll;
	font-family: var(--font-mono);
	white-space: pre;
}

blockquote {
	margin: 10px;
	padding: 10px;
	border-left: var(--color-lightgray) 4px solid;
	color: var(--color-gray);
}

table {
	width: 100%;
	border-collapse: collapse;
}

.table-fix {
	table-layout: fixed;
}

thead {
	background-color: var(--color-theme);
}

th, td {
	border: 1px solid var(--color-gray);
	padding: 0 3px;
	empty-cells: show;
}

ul, ol {
	padding-left: 2em;
}

p {
	margin: 0;
	padding: 0;
}

:where(a) {
	&:link, &:visited{
		color: var(--color-link);
		text-decoration: none;
	}
	&:hover, &:active {
		opacity: 0.8;
	}
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

address {
	font-style: normal;
}

h1, .h1 {
	font-size: 2.4em;
	font-weight: bold;
	margin: 0.67em 0;
}
h2, .h2 {
	font-size: 2.1em;
	font-weight: bold;
}
h3, .h3 {
	font-size: 1.8em;
	font-weight: bold;
}
h4, .h4 {
	font-size: 1.6em;
	font-weight: bold;
}
h5, .h5 {
	font-size: 1.3em;
	font-weight: bold;
}
h6, .h6 {
	font-size: 1em;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
textarea {
	width: 100%;
}

a[target="_blank"]::after {
	font-family: "fa";
	content: "\f35d";
	font-weight: 900;
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	margin-left: 0.3em;
	color: inherit;
}

.aligncenter {
	display: block;
	margin: 0 auto 10px;
	text-align: center;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
	max-width: 50%;
}

.alignright {
	float: right;
	margin: 0 0 10px 10px;
	max-width: 50%;
}
@media screen and (max-width:$sp) {
	img.alignleft, img.alignright {
		max-width: 100%;
		margin: 0 0 10px 0;
	}
}

//　要素のあとに改行を入れるクラス　br
.br {
	float: none;
	display: block;
	margin: 0;
	&::after {
		content: "\A";
		white-space: pre;
	}
}

:where(nav), :where(nav) ul, :where(nav) li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

@media screen and (max-width:$tab) {
//　tabサイズで画像の回り込みを解消するクラス　br-tab
	.alignleft.br-tab, .alignright.br-tab {
		float: none;
		display: block;
		max-width: 100%;
		margin: 0;
		&::after {
			content: "\A";
			white-space: pre;
		}
	}
//  tabサイズで中央配置にする　tab-center
	.tab-center, img.alignleft.tab-center, img.alignright.tab-center {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width:$sp) {
//　spサイズで画像の回り込みを解消する。（デフォルト設定）
	img.alignleft, img.alignright {
		float: none;
		display: block;
		margin: 0;
		position: relative;
		right: 0;
		&::after {
			content: "\A";
			white-space: pre;
		}
	}
//　spサイズでも画像の最大幅を50%にして、回り込みを有効にするクラス　br-no
	img.alignleft.br-no {
		float: left;
		display: inline;
		max-width: 50%;
		margin: 0  10px 0 0;
		&::after {
			content: "";
			white-space: pre;
		}
	}
	img.alignright.br-no {
		float: right;
		display: inline;
		max-width: 50%;
		margin: 0 0 0 10px;
		&::after {
			content: "";
			white-space: pre;
		}
	}
//  spサイズで中央配置にする　sp-center
	.sp-center, img.alignleft.sp-center, img.alignright.sp-center {
		display: block;
		margin: 0 auto;
	}
}

.container {
	width: 100%;
	max-width: $container;
	margin: 0 auto;
}

@media screen and (max-width:$container) {
	.container {
		padding: 0 5px;
	}
}

.clear {
	clear: both;
}

.clearfix::after {
	@include clearfix;
}

.list-style-none {
	list-style: none;
	padding: 0;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justyfy {
	text-align: justify;
}

.caption {
	max-width: 100%;
	box-sizing: content-box;
	line-height: 1.2;
	display: block;
	margin-bottom: 10px;
}

.caption-img {
	display: inline-block;
	max-width: 100%;
}

.caption-img > img {
	max-width: 100%;
}

.caption-text {
	display: inline;
   font-size: 14px;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.middle-container {
	display: table;
}

.middle-item {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.flex {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.flex-r {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}