// display control
.tab, .pc, .tab-inline, .pc-inline {
	display: none;
}
.sp {
	display: block;
}
.sp-inline {
	display: inline-block;
}
@media screen and (min-width:$tab) {
	.sp, .sp-inline {
		display: none;
	}
	.tab {
		display: block;
	}
	.tab-inline {
		display: inline;
	}
}

@media screen and (min-width:$pc) {
	.tab, .tab-inline {
		display: none;
	}
	.pc {
		display: block;
	}
	.tab-none.pc {
		display: block !important;
	}
	.pc-inline {
		display: inline;
	}
}

$mgn: 5;
@while $mgn <=20 {
	.mt-#{$mgn} {
		margin-top: #{$mgn}px !important;
	}
	.mb-#{$mgn} {
		margin-bottom: #{$mgn}px !important;
	}
	.pt-#{$mgn} {
		padding-top: #{$mgn}px !important;
	}
	.pb-#{$mgn} {
		padding-bottom: #{$mgn}px !important;
	}
	$mgn: $mgn + 5;
}
	
$mgnl: 30;
@while $mgnl <=60 {
	.mt-#{$mgnl} {
		margin-top: #{$mgnl}px !important;
	}
	.mb-#{$mgnl} {
		margin-bottom: #{$mgnl}px !important;
	}
	$mgnl: $mgnl + 10;
}