@charset "utf-8";
@import "../_parameter";
//ボタンのサイズ,枠線の色,および角丸のサイズ
$btn_size: 44px;
$burg_size: 40px;
$burg_border_radius: 5px;
//ハンバーガーアイコンの線の太さと色
$burg_line_thick: 4px;
//タップ後の矢印の方向
$rotate_deg: 0deg;
/* ハンバーガーボタン */
.hamburger {
	width: $btn_size;
	height: $btn_size;
	position: absolute;
	right: 10px;
	top: 1px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	box-shadow: none;
	border: none;
	cursor: pointer;
}
.burg-line-tc {
	display: block;
}
.burg-line-tc::before {
	content: "";
	display: block;
	background-color: #000;
	width: $burg_size;
	height: $burg_line_thick;
	border-radius: 3px;
	position: absolute;
	top: 5px;
	left: 1px;
}
.burg-line-tc::after {
	content: "";
	display: block;
	background-color: #000;
	width: $burg_size;
	height: $burg_line_thick;
	border-radius: 3px;
	position: absolute;
	top: 15px;
	left: 1px;
}
.burg-line-b {
	display: block;
	background-color: #000;
	width: $burg_size;
	height: $burg_line_thick;
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 1px;
}
.burg-text {
	display: block;
}
.burg-text::before {
	content: "menu";
	position: absolute;
	top: 27px;
	left: 4px;
	font-size: 12px;
}
/* ハンバーガーボタン クリック後 */
.js-open .burg-line-tc::before {
	transform: rotate(45deg);
	transform-origin: 50%;
	width: 32px;
	top: 15px;
}
.js-open .burg-line-tc::after {
	transform: rotate(-45deg);
	transform-origin: 50%;
	width: 32px;
	top: 15px;
}
.js-open .burg-line-b {
	width: 0px;
}
.js-open .burg-text::before {
	content: "close";
}




/* グローバルナビゲーション */

.header-container {
	position: relative;
	z-index: 100;
	height: $btn_size;
}

.toggle-menu a {
	display: block;
	padding: 5px;
}

@media screen and (max-width: $container + 1px) {
	
	.toggle-menu {
		position: absolute;
		right: -100%;
		top: 100%;
		background-color: #FFF;
		max-height: calc(100vh - $btn_size);
		overflow-y: scroll;
	}

	.js-open .toggle-menu {
		right: 0%;
	}

	.header-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		display: inline-block;
		height: 44px;
	}
}

@media screen and (min-width: $container) {
	.header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow-y: visible;
	}
	.hamburger {
		display: none;
	}
	.toggle-menu {
		position: relative;
		top: auto;
		right: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow-y: visible;
	}
	.header-logo {
		position: static;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
	}
    .toggle-menu {
        display: flex;
        position: relative;

		.sub-menu {
			height: 0;
			overflow: hidden;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: #FFF;
		}
		:where( .menu-item:hover ) > .sub-menu {
			height: auto;
		}
	}
    }
    
    .page_item {
        display: inline-block;
    }
    .page_item a {
        display: block;
        width: 100%;
        padding: 0.5em;
        color: var(--color-text);
    }
    .page_item_has_children {
        
    }
	.gnav {
}